body {

 background-image: url("/img/icono.png"); 
            background-size: cover;
            background-position: center;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;

    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
   
    text-align: center;
    color: #333;
    margin-top: 20px;
}

.accion,
.rpg,
.aventura,
.estrategia {
    display: flex;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
     width: 100%;
    display: block;
    color: #007BFF;
    border-bottom: 2px solid #007BFF;
    padding-bottom: 10px;
}

div {
    padding: 10px;
    flex:1;    
    margin-bottom: 20px;
    font-size: 12px;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 8px;
    margin-bottom: 10px;
    object-fit: cover;
}

h3 {
    color: #0056b3;
}

p {
    color: #555;
    line-height: 1.6;
}